<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <style>

    .centered {
          display: flex;
          justify-content: center;
        }

    .praise {
          text-align: center;
          font-family: georgia;
          font-size: 48px;
          font-weight: bold;
          margin-top: 50px;
          margin-bottom: 40px;
        }

        .flex-container {
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          row-gap: 20px;
          margin-top: 30px;
          margin-bottom: 30px;
      }

      .flex-blurb {
          flex: 1
          padding: 1em;
          max-width: 450px;
      }

      .flex-bookcontainer {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;

    }

      .flex-bookchild {
        flex: 1;
        padding: 20px;
        justify-content: center;
        text-align: center;
    }

    @media only screen and (max-width: 600px) {
      .flex-bookcontainer, .flex-bookchild {
        flex-direction:column;
      }


    </style>

    <div>

      <header class="header-background">

        <!-- below is the original nav endfor loop with formatting...I think-->
        <div class="clearfix border-bottom-thick header-border">
          <ul class="list-reset right py-1 header-text font-smoothing">
            <li class="inline-block">
              <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/books">
                Books
              </a>
              <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/blog">
                News & Events
              </a>
              <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ site.baseurl }}/about">
                About
              </a>
              <a class="align-middle link-primary mr-2 mr-lg-2 ml-lg-2" href="{{ site.baseurl }}/contact">
                Contact
              </a>
              </li>
            <!--THIS IS THE ORIGINAL SITE NAV SCRIPT
            {% for my_page in site.pages %}
              {% if my_page.title %}
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
              </li>
              {% endif %}
            {% endfor %}
          -->
          </ul>
        </div>


        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          <p class="h3 lh-condensed font-smoothing mt-2"><i>Sun-Sentinel</i> Top Debut Mystery Author</i>

          <h1 class="h0 inline-block col-9 sm-width-full py-3 mt-0 header-title">J.G. Hetherton</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-4 sm-width-full left border-top-thin">
              <div class="table">
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include dot-accent.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include dot-accent.html %}
                </div>
              </div>

              <!-- Set site description in config.yml -->
              <!--<p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}</p> -->
              <!--line above is the original placement of site description-->
            </div>

            <div class="col-4 sm-width-full left border-top-thin mt-3 mt-lg-0 ml-lg-4 table">
                <div class="inline-block mt-3 mr-1">
                  {% include twitter.html %}
                </div>
                <div class="inline-block mt-3 mr-1">
                  {% include facebook.html %}
                </div>
                <div class="inline-block mt-3">
                  {% include goodreads.html %}
                </div>
            </div>
          </div>

        </div>
      </header>

<!-- the BOOKS section...possible title like BOOKS here-->

<article class="container mx-auto px-2 mt2 mb2">
<!--<article class="container mx-auto px-2 mt2 sm-width-full center mr-lg-2 mt-3"> -->

<div class="flex-bookcontainer">
  <div class="flex-bookchild">
    <a href="{{ site.baseurl }}/what-lies-beneath" class="image">
    <img src="assets/what-lies-beneath-cover.jpg" style="width:80%">
    </a>
  </div>
  <div class="flex-bookchild">
    <a href="{{ site.baseurl }}/last-girl-gone" class="image">
    <img src="assets/last-girl-gone-cover.jpg" style="width:80%">
    </a>
    </div>
  </div>

</article>


<!--blurb images-->
<article class="container mx-auto px-2 mt2 mb2">

      <!--spacer element-->
      <div class="centered">
        <div class="col-4 sm-width-full border-top-thin">
        </div>
        </div>

        <div class="praise">
        <h1>Praise for J.G. Hetherton</h1>
        </div>

        <div class="flex-container">

        <div class="flex-blurb">
          <div class="image">
          <span class="image main"><img src="assets/kirkus-wlb.jpg" style="width:100%" /></span>
          </div>
        </div>
        <div class="flex-blurb">
          <div class="image">
          <span class="image main"><img src="assets/publishers-weekly-wlb.jpg" style="width:100%" /></span>
          </div>
        </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/cain-blurb.png" style="width:100%" /></span>
            </div>
          </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/cleave-blurb.png" style="width:100%" /></span>
            </div>
          </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/freeman-blurb.png" style="width:100%" /></span>
            </div>
          </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/bell-blurb.png" style="width:100%" /></span>
            </div>
          </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/laukkanen-blurb.png" style="width:100%" /></span>
            </div>
          </div>
          <div class="flex-blurb">
            <div class="image">
            <span class="image main"><img src="assets/carbo-blurb.png" style="width:100%" /></span>
            </div>
          </div>

          </div>


    </article>

      <div class="container mx-auto px-2 py-4">
        {% for post in site.posts %}
          {% include post_block.html %}
        {% endfor %}
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
